<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Server Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item
      *ngFor="let photo of photos">
      <ion-label (click)="deletePhoto(photo)">{{photo.filepath}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="getPhotoGallery()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
